/* Dark mode (default) */
:root {
    --sl-color-accent: #d97706;
    --sl-color-accent-low: #2a1a0f;
    --sl-color-accent-high: #fcd34d;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #dcd3c9;
    --sl-color-gray-2: #bfa58a;
    --sl-color-gray-3: #8b5e3c;
    --sl-color-gray-4: #5c3a1e;
    --sl-color-gray-5: #3b2614;
    --sl-color-gray-6: #1e1e1e;
    --sl-color-black: #121212;
}


/* Light mode */
:root[data-theme='light'] {
    --sl-color-accent: #d97706;
    --sl-color-accent-low: #fff4e5;
    --sl-color-accent-high: #a65300;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #d97706;
    --sl-color-gray-2: #cbbfb0;
    --sl-color-gray-3: #e9d8c8;
    --sl-color-gray-4: #8b5e3c;
    --sl-color-gray-5: #5c3a1e;
    --sl-color-gray-6: #f4ece5;
    --sl-color-gray-7: #fefaf7;
    --sl-color-black: #3b2614;
    --sl-color-bg-nav: #fdf6f0;
}